<section id="skills" class="py-20">
  <div class="container mx-auto px-6">
    <h2 class="text-2xl font-bold mb-12 text-secondary font-sans">
      {{ 'SECTION.SKILLS' | translate }}
    </h2>

    <div class="max-w-5xl mx-auto">
      @if (profile) {
        <div class="flex flex-wrap gap-4">
          @for (skill of (profile.skills || []); track skill) {
            <div
              class="px-4 py-2 border border-terminal bg-black hover:bg-primary hover:text-black hover:border-primary transition-colors cursor-default">
              <span class="font-sans text-secondary hover:text-black font-medium">{{ skill }}</span>
            </div>
          }
        </div>
      }
    </div>
  </div>
</section>